[defaults]
inventory          = inventories/
roles_path         = roles/
remote_user        = ec2-user
private_key_file   = ~/.ssh/sssm-eks.pem
host_key_checking  = False
forks              = 20
timeout            = 30
stdout_callback    = yaml
stderr_callback    = yaml
log_path           = /tmp/ansible.log

[ssh_connection]
ssh_args        = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30
pipelining      = True
transfer_method = smart

[privilege_escalation]
become        = True
become_method = sudo
become_user   = root
